<div class="container">
  <div class="row">
    <div class="mx-auto col-12 mt-5 pt-5 text-center">
      <span class="h4 bg-light"><strong>本当に退会しますか？</strong></span>
    </div>
    <div class="mx-auto col-12 pt-4 text-center">
      <p>退会すると、会員登録情報や</p>
      <p>これまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>
    </div>
    <div class="mx-auto col-8 mt-4 mb-5 pb-5 text-center">
      <span>
        <%= link_to "退会しない" , edit_customers_path , class: "btn btn-primary w-25 me-3" %>
      </span>
      <span>
        <%= link_to "退会する" , withdraw_customers_path , method: :patch , "data-confirm" => "本当に退会しますか？" , class: "btn btn-danger w-25" %>
      </span>
    </div>
  </div>
</div>